table,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}
h1{
  color : #48304D;
}
body {
  background-color: #FBCAEF;
}

hr {
border-style: dotted none none;
border-color: #48304D;
height: 6px;
width: 5%;
border-width: 5px;
}
