/*https://colorhunt.co/palette/143f6bf55353feb139f6f54d */


body{
  margin: 0;
}

.top-container{
  background-color: #F6F54D;
  border:10px solid black;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.middle-container{
  background-color: blue;
  width: 200px;
  height: 200px;
 border: 20px solid black;
 margin-left: 260px;

}

.bottom-container{
  background-color: red;
  width: 200px;
  height: 200px;
  border:10px solid black;
  position: absolute;
  margin-left: 500px;

}
